/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */



/* CWB Testimonial Block */
/* ------------------------------- */
.quote-body {
    padding: 30px;
    background-color: white;
}
.text-white .quote-body {
    color: #000;
    position: relative;
}
.quote-top .quote-body {
    margin-bottom: 30px;
}
.quote-top .quote-body:after {
    font-family: fontawesome;
    content: "\f0d7";
    position: absolute;
    left: 20px;
    bottom: -24px;
    color: white;
    font-size: 40px;
    line-height: 40px;
}