
.components-panel__body .components-color-picker__body {
    padding: 16px 0 12px;
}
.block-editor .wp-block:not([class*="max-w-"]):not(.magic-column) {
    max-width: 1600px!important;
}

html :where(.editor-styles-wrapper) a,
html :where(.editor-styles-wrapper) li,
html :where(.editor-styles-wrapper) p {
    font-size: initial;
    font-family: initial;
}


/* Popover Plus */
.btn-editor .components-popover__content {
    width: 250px;
}
#editor .components-popover.popover-plus .components-popover__content {
    margin-top: 0;
    margin-right: 160px;
    width: 260px;
    bottom: unset;
}
.popover-plus .components-popover__content .content-wrap {
    padding: 15px;
    position: relative;
}
.popover-plus.btn-editor .components-popover__content .content-wrap {
    padding: 0;
}
.popover-plus .components-popover__content .close-btn {
    position: absolute;
    right: -6px;
    top: 0
}
@media only screen and (max-height: 840px) {
    #editor .components-popover.popover-plus .components-popover__content {
        bottom: -200px;
    }
}
/* Button Editor Popover */
#editor .components-popover.popover-plus.btn-editor .components-popover__content {
    margin-top: 40px;
    margin-right: -130PX;
    width: 260px;
    bottom: unset;
    max-height: 280px;
    overflow-y: auto;
}
/*p-2 mb-0*/

/* Popover Plus : Color Picker */
.components-popover.popover-plus .react-colorful {
    width: 196px;
    height: 196px;
}
.components-popover.popover-plus .react-colorful + div {
    width: 196px;
    /*padding: 10px 0 0;*/
    /*height: 40px;*/
    padding: 10px 0 10px;
    height: 85px;
}



/* Bg Preview & Popover Trigger*/
.editor-post-featured-image__toggle.edit-bg-color {
    width: 100%;
    height: 40px;
    padding: 20% 0 27%;
}
.edit-bg-color span {
    background: rgba(255,255,255,0.4);
    padding: 3px 10px;
}
.components-panel__body .transparency-grid {
    margin: 20px 0 20px;
}



/* Modify LinkControl input styles */
.cwb-input .block-editor-link-control {
    min-width: 0;
}
.components-popover__content .cwb-input .block-editor-link-control {
    max-width: 480px;
}
.cwb-input .block-editor-link-control__search-item .block-editor-link-control__search-item-header {
    max-width: calc(100% - 60px);
}
.cwb-input .block-editor-link-control__search-results {
    margin: 0;
    padding: 10px 5px 20px;
}
.cwb-input .block-editor-link-control__field {
    margin: 0;
}
.cwb-input .block-editor-link-control__search-actions {
    right: 0;
}
.cwb-input .block-editor-link-control__search-item .block-editor-link-control__search-item-details {
    max-width: 100%;
}
.cwb-input .block-editor-link-control__search-item.is-current {
    padding: 0 0 20px;
}
#editor .components-popover.popover-plus.get-use-post-content .components-popover__content {
    width: 510px;
    max-width: 90vw;
}



/* Style input like their parent <h> of <button> tag */
h1 textarea,
h2 textarea,
h3 textarea,
h4 textarea,
h5 textarea,
p textarea,
h1 input,
h2 input,
h3 input,
h4 input,
h5 input,
button input {
    -webkit-appearance: none;
    line-height: inherit!important;
    font-family: inherit!important;
    font-size: inherit!important;
    color: inherit!important;
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
    -moz-appearance: none;
}

p.text-lrg .is-editable.rich-text,
p.text-lrg textarea,
p.text-lrg input {
    font-size: 1.25em!important;;
    line-height: 2em!important;;
}

.heading-input label {
    width: 100%;
    opacity: 0;
}


/* Sync heading & button styles */
/* - Sync the heading & button styles seen in block-editor with heading styles seen on the front end
   (Override font styles set by block-editor)*/
h1 .components-base-control .components-text-control__input,
h2 .components-base-control .components-text-control__input,
h3 .components-base-control .components-text-control__input,
h4 .components-base-control .components-text-control__input,
h5 .components-base-control .components-text-control__input,
p .components-base-control .components-text-control__input,
button .components-base-control .components-text-control__input {
    font-size: inherit!important;
    color: inherit!important;
    font-family: inherit!important;
    padding: 0!important;
}
button .components-base-control .components-text-control__input {
    text-transform: inherit!important;
}
h1 .components-base-control[class*="css-"],
h2 .components-base-control[class*="css-"],
h3 .components-base-control[class*="css-"],
h4 .components-base-control[class*="css-"],
h5 .components-base-control[class*="css-"],
p .components-base-control[class*="css-"],
button .components-base-control[class*="css-"] {

    font-size: inherit!important;
    font-family: inherit!important;
    color: inherit!important;

    /*font-family: Montserrat, Sans-Serif!important;*/
}
button .components-base-control .components-base-control__field {
    margin: 0!important;
}
.text-uppercase .components-base-control .components-text-control__input {
    text-transform: uppercase!important;
}



/* CWB Slider Editor Slider Navigation */
/* - slider arrows */
.cwb-slider .slide-prev:before {
    content: "<";
    content: "\f341";
}
.cwb-slider .slide-next:before {
    content: ">";
    content: "\f345";
}
.cwb-slider .slide-prev:before,
.cwb-slider .slide-next:before {
    font-family: 'dashicons';
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 21px;
}
.cwb-slider .slide-prev,
.cwb-slider .slide-next {
    display: flex;
    width: 30px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background: white;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border: 1px solid rgb(187, 187, 187);
}
.cwb-slider .slide-next {
    right: -3px;
}
.cwb-slider .slide-prev {
    left: -3px;
}
/* - slider options */
.cwb-slider .slider-options {
    position: absolute;
    bottom: -10px;
    width: 100%;
    /*height: 30px;*/
    text-align: center;
    z-index: 2;
}
.cwb-slider .slider-options-inner {
    background: white;
    padding: 0px 7px;
    border: 1px solid rgb(187, 187, 187);
    display: inline-block;
    height: 32px;
}
.cwb-slider .slider-option {
    position: relative;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    background: white;
    justify-content: center;
}
.cwb-slider .slider-option:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer
}
.cwb-slider .slider-option.active:after {
    background: black;
}



/* Repeater Inspector styles: tabs */
.repeater-controls .components-tab-panel__tabs-item {
    padding: 3px 13px;
}



/* Text formatting utils for block editor inputs */
.text-center .components-text-control__input {
    text-align: center;
}

.repeater-item {
    opacity: 0.6;
}
.repeater-item.focus-item {
    opacity: 1;
}
.display-on-parent-hover {
    display: none;
}
*:hover > .display-on-parent-hover,
.focus-item *:hover > .display-on-parent-hover {
    display: flex;
}
.is-editable {
    border: 2px solid transparent;
}
.is-editable:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.is-editable:focus {
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.text-white .is-editable:focus {
    border: 2px solid rgba(255,255,255,0.2);
}




/* misc */
.edit-post-visual-editor .display-on-parent-hover .components-button {
    padding: 6px 6px;
}

.hide-new-tab-toggle .components-toggle-control {
    display: none;
}

.components-popover {
    z-index: 150000!important;
}


/* CheckboxControl mods */


.components-checkbox-control .components-base-control__field {
    display: flex;
}

.components-checkbox-control .components-base-control__field >
    .components-checkbox-control__input-container {

}

.components-checkbox-control .components-base-control__field >
    .components-checkbox-control__label {

}




.block-editor-page .col {
}

.block-editor-page .col-auto {
}

.block-editor-page .col-1.wp-block-column {
    flex-basis: calc(-2px + 8.333333%);
    flex-grow: 0;
}

.block-editor-page .col-2.wp-block-column {
    flex-basis: calc(-2px + 16.666667%);
    flex-grow: 0;
}

.block-editor-page .col-3.wp-block-column {
    flex-basis: calc(-2px + 25%);
    flex-grow: 0;
}

.block-editor-page .col-4.wp-block-column {
    flex-basis: calc(-2px + 33.333333%);
    flex-grow: 0;
}

.block-editor-page .col-5.wp-block-column {
    flex-basis: calc(-2px + 41.666667%);
    flex-grow: 0;
}

.block-editor-page .col-6.wp-block-column {
    flex-basis: calc(-2px + 50%);
    flex-grow: 0;
}

.block-editor-page .col-7.wp-block-column {
    flex-basis: calc(-2px + 58.333333%);
    flex-grow: 0;
}

.block-editor-page .col-8.wp-block-column {
    flex-basis: calc(-2px + 66.666667%);
    flex-grow: 0;
}

.block-editor-page .col-9.wp-block-column {
    flex-basis: calc(-2px + 75%);
    flex-grow: 0;
}

.block-editor-page .col-10.wp-block-column {
    flex-basis: calc(-2px + 83.333333%);
    flex-grow: 0;
}

.block-editor-page .col-11.wp-block-column {
    flex-basis: calc(-2px + 91.666667%);
    flex-grow: 0;
}

.block-editor-page .col-12.wp-block-column {
    flex-basis: calc(-2px + 100%);
    flex-grow: 0;
}

.block-editor-page .col-phi-lrg.wp-block-column {
    flex-basis: calc(-2px + 61.8%);
    flex-grow: 0;
}

.block-editor-page .col-phi-sml.wp-block-column {
    flex-basis: calc(-2px + 38.2%);
    flex-grow: 0;
}


@media (min-width: 576px) {
    .block-editor-page .col-sm {
    }
    .block-editor-page .col-sm-auto {
        flex-basis: auto;
        flex-grow: 0;
        max-width: 100%;
    }
    .block-editor-page .col-sm-1.wp-block-column {
        flex-basis: calc(-2px + 8.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-2.wp-block-column {
        flex-basis: calc(-2px + 16.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-3.wp-block-column {
        flex-basis: calc(-2px + 25%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-4.wp-block-column {
        flex-basis: calc(-2px + 33.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-5.wp-block-column {
        flex-basis: calc(-2px + 41.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-6.wp-block-column {
        flex-basis: calc(-2px + 50%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-7.wp-block-column {
        flex-basis: calc(-2px + 58.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-8.wp-block-column {
        flex-basis: calc(-2px + 66.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-9.wp-block-column {
        flex-basis: calc(-2px + 75%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-10.wp-block-column {
        flex-basis: calc(-2px + 83.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-11.wp-block-column {
        flex-basis: calc(-2px + 91.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-12.wp-block-column {
        flex-basis: 100%;
        flex-grow: 0;
    }
    .block-editor-page .col-sm-phi-lrg.wp-block-column {
        flex-basis: calc(-2px + 61.8%);
        flex-grow: 0;
    }
    .block-editor-page .col-sm-phi-sml.wp-block-column {
        flex-basis: calc(-2px + 38.2%);
        flex-grow: 0;
    }
}

@media (min-width: 768px) {
    .block-editor-page .col-md {
    }
    .block-editor-page .col-md-auto {
    }
    .block-editor-page .col-md-1.wp-block-column {
        flex-basis: calc(-2px + 8.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-2.wp-block-column {
        flex-basis: calc(-2px + 16.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-3.wp-block-column {
        flex-basis: calc(-2px + 25%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-4.wp-block-column {
        flex-basis: calc(-2px + 33.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-5.wp-block-column {
        flex-basis: calc(-2px + 41.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-6.wp-block-column {
        flex-basis: calc(-2px + 50%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-7.wp-block-column {
        flex-basis: calc(-2px + 58.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-8.wp-block-column {
        flex-basis: calc(-2px + 66.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-9.wp-block-column {
        flex-basis: calc(-2px + 75%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-10.wp-block-column {
        flex-basis: calc(-2px + 83.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-11.wp-block-column {
        flex-basis: calc(-2px + 91.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-12.wp-block-column {
        flex-basis: 100%;
        flex-grow: 0;
    }
    .block-editor-page .col-md-phi-lrg.wp-block-column {
        flex-basis: calc(-2px + 61.8%);
        flex-grow: 0;
    }
    .block-editor-page .col-md-phi-sml.wp-block-column {
        flex-basis: calc(-2px + 38.2%);
        flex-grow: 0;
    }
}

@media (min-width: 992px) {
    .block-editor-page .col-lg {
    }
    .block-editor-page .col-lg-auto {
    }
    .block-editor-page .col-lg-1.wp-block-column {
        flex-basis: calc(-2px + 8.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-2.wp-block-column {
        flex-basis: calc(-2px + 16.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-3.wp-block-column {
        flex-basis: calc(-2px + 25%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-4.wp-block-column {
        flex-basis: calc(-2px + 33.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-5.wp-block-column {
        flex-basis: calc(-2px + 41.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-6.wp-block-column {
        flex-basis: calc(-2px + 50%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-7.wp-block-column {
        flex-basis: calc(-2px + 58.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-8.wp-block-column {
        flex-basis: calc(-2px + 66.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-9.wp-block-column {
        flex-basis: calc(-2px + 75%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-10.wp-block-column {
        flex-basis: calc(-2px + 83.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-11.wp-block-column {
        flex-basis: calc(-2px + 91.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-12.wp-block-column {
        flex-basis: 100%;
        flex-grow: 0;
    }
    .block-editor-page .col-lg-phi-lrg.wp-block-column {
        flex-basis: calc(-2px + 61.8%);
        flex-grow: 0;
    }
    .block-editor-page .col-lg-phi-sml.wp-block-column {
        flex-basis: calc(-2px + 38.2%);
        flex-grow: 0;
    }
}

@media (min-width: 1200px) {
    .block-editor-page .col-xl {
    }
    .block-editor-page .col-xl-auto {
    }
    .block-editor-page .col-xl-1.wp-block-column {
        flex-basis: calc(-2px + 8.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-2.wp-block-column {
        flex-basis: calc(-2px + 16.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-3.wp-block-column {
        flex-basis: calc(-2px + 25%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-4.wp-block-column {
        flex-basis: calc(-2px + 33.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-5.wp-block-column {
        flex-basis: calc(-2px + 41.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-6.wp-block-column {
        flex-basis: calc(-2px + 50%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-7.wp-block-column {
        flex-basis: calc(-2px + 58.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-8.wp-block-column {
        flex-basis: calc(-2px + 66.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-9.wp-block-column {
        flex-basis: calc(-2px + 75%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-10.wp-block-column {
        flex-basis: calc(-2px + 83.333333%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-11.wp-block-column {
        flex-basis: calc(-2px + 91.666667%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-12.wp-block-column {
        flex-basis: 100%;
        flex-grow: 0;
    }
    .block-editor-page .col-xl-phi-lrg.wp-block-column {
        flex-basis: calc(-2px + 61.8%);
        flex-grow: 0;
    }
    .block-editor-page .col-xl-phi-sml.wp-block-column {
        flex-basis: calc(-2px + 38.2%);
        flex-grow: 0;
    }
}


.wp-block-image .components-resizable-box__container {
    height: auto!important;
    /*width: auto!important;*/
}

.wp-block-image .components-resizable-box__container img {
    /*display: block;*/
    height: auto;
    max-width: 100%;
}




.cwb-editor-outline {
    border: 1px dashed rgba(0,0,0,0.6);
}

.text-white.cwb-editor-outline,
.text-white .cwb-editor-outline {
    border: 1px dashed rgba(255,255,255,0.6);
}