

/* Styles required to make the slider editor toggle slides */
/* - supports upto 30 slides */
/*---------------------------------------------------------------------------*/
/*.wp-block-cwb-slider > div > .slides > div > div > .wp-block.slide,*/
.wp-block-cwb-slider > div > .slides > div > div > .wp-block.slide {
    display: none;
}
.wp-block-cwb-slider > div[data-show="1"]> .slides > div > div > .wp-block.slide:nth-child(1) { display: block; }
.wp-block-cwb-slider > div[data-show="2"]> .slides > div > div > .wp-block.slide:nth-child(2) { display: block; }
.wp-block-cwb-slider > div[data-show="3"]> .slides > div > div > .wp-block.slide:nth-child(3) { display: block; }
.wp-block-cwb-slider > div[data-show="4"]> .slides > div > div > .wp-block.slide:nth-child(4) { display: block; }
.wp-block-cwb-slider > div[data-show="5"]> .slides > div > div > .wp-block.slide:nth-child(5) { display: block; }
.wp-block-cwb-slider > div[data-show="6"]> .slides > div > div > .wp-block.slide:nth-child(6) { display: block; }
.wp-block-cwb-slider > div[data-show="7"]> .slides > div > div > .wp-block.slide:nth-child(7) { display: block; }
.wp-block-cwb-slider > div[data-show="8"]> .slides > div > div > .wp-block.slide:nth-child(8) { display: block; }
.wp-block-cwb-slider > div[data-show="9"]> .slides > div > div > .wp-block.slide:nth-child(9) { display: block; }
.wp-block-cwb-slider > div[data-show="10"]> .slides > div > div > .wp-block.slide:nth-child(10) { display: block; }
.wp-block-cwb-slider > div[data-show="11"]> .slides > div > div > .wp-block.slide:nth-child(11) { display: block; }
.wp-block-cwb-slider > div[data-show="12"]> .slides > div > div > .wp-block.slide:nth-child(12) { display: block; }
.wp-block-cwb-slider > div[data-show="13"]> .slides > div > div > .wp-block.slide:nth-child(13) { display: block; }
.wp-block-cwb-slider > div[data-show="14"]> .slides > div > div > .wp-block.slide:nth-child(14) { display: block; }
.wp-block-cwb-slider > div[data-show="15"]> .slides > div > div > .wp-block.slide:nth-child(15) { display: block; }
.wp-block-cwb-slider > div[data-show="16"]> .slides > div > div > .wp-block.slide:nth-child(16) { display: block; }
.wp-block-cwb-slider > div[data-show="17"]> .slides > div > div > .wp-block.slide:nth-child(17) { display: block; }
.wp-block-cwb-slider > div[data-show="18"]> .slides > div > div > .wp-block.slide:nth-child(18) { display: block; }
.wp-block-cwb-slider > div[data-show="19"]> .slides > div > div > .wp-block.slide:nth-child(19) { display: block; }
.wp-block-cwb-slider > div[data-show="20"]> .slides > div > div > .wp-block.slide:nth-child(20) { display: block; }
.wp-block-cwb-slider > div[data-show="21"]> .slides > div > div > .wp-block.slide:nth-child(21) { display: block; }
.wp-block-cwb-slider > div[data-show="22"]> .slides > div > div > .wp-block.slide:nth-child(22) { display: block; }
.wp-block-cwb-slider > div[data-show="23"]> .slides > div > div > .wp-block.slide:nth-child(23) { display: block; }
.wp-block-cwb-slider > div[data-show="24"]> .slides > div > div > .wp-block.slide:nth-child(24) { display: block; }
.wp-block-cwb-slider > div[data-show="25"]> .slides > div > div > .wp-block.slide:nth-child(25) { display: block; }
.wp-block-cwb-slider > div[data-show="26"]> .slides > div > div > .wp-block.slide:nth-child(26) { display: block; }
.wp-block-cwb-slider > div[data-show="27"]> .slides > div > div > .wp-block.slide:nth-child(27) { display: block; }
.wp-block-cwb-slider > div[data-show="28"]> .slides > div > div > .wp-block.slide:nth-child(28) { display: block; }
.wp-block-cwb-slider > div[data-show="29"]> .slides > div > div > .wp-block.slide:nth-child(29) { display: block; }
.wp-block-cwb-slider > div[data-show="30"]> .slides > div > div > .wp-block.slide:nth-child(30) { display: block; }






/*!* Styles to allow setting slide & slide vh at the same time *!*/
/*!*---------------------------------------------------------------------------*!*/

.slider.vh-25 .slide-flex { height: 25vh !important; }
.slider.vh-33 .slide-flex { height: 33vh !important; }
.slider.vh-50 .slide-flex { height: 50vh !important; }
.slider.vh-60 .slide-flex { height: 60vh !important; }
.slider.vh-75 .slide-flex { height: 75vh !important; }
.slider.vh-80 .slide-flex { height: 80vh !important; }
.slider.vh-85 .slide-flex { height: 85vh !important; }
.slider.vh-90 .slide-flex { height: 90vh !important; }
.slider.vh-100 .slide-flex { height: 100vh !important; }
.slider.vh-25-min .slide-flex { min-height: 25vh !important; }
.slider.vh-33-min .slide-flex { min-height: 33vh !important; }
.slider.vh-50-min .slide-flex { min-height: 50vh !important; }
.slider.vh-66-min .slide-flex { min-height: 66vh !important; }
.slider.vh-75-min .slide-flex { min-height: 75vh !important; }
.slider.vh-80-min .slide-flex { min-height: 80vh !important; }
.slider.vh-85-min .slide-flex { min-height: 85vh !important; }
.slider.vh-90-min .slide-flex { min-height: 90vh !important; }
.slider.vh-100-min .slide-flex { min-height: 100vh !important; }

.slider.vh-phi-sm .slide-flex { height: 37.8vh !important; }
.slider.vh-phi-lg .slide-flex { height: 62.9vh !important; }
.slider.vh-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
.slider.vh-phi-lg-min .slide-flex { min-height: 62.9vh !important; }

@media (min-width: 576px) {
    .slider.vh-sm-25 .slide-flex { height: 25vh !important; }
    .slider.vh-sm-33 .slide-flex { height: 33vh !important; }
    .slider.vh-sm-50 .slide-flex { height: 50vh !important; }
    .slider.vh-sm-60 .slide-flex { height: 60vh !important; }
    .slider.vh-sm-75 .slide-flex { height: 75vh !important; }
    .slider.vh-sm-80 .slide-flex { height: 80vh !important; }
    .slider.vh-sm-85 .slide-flex { height: 85vh !important; }
    .slider.vh-sm-90 .slide-flex { height: 90vh !important; }
    .slider.vh-sm-100 .slide-flex { height: 100vh !important; }
    .slider.vh-sm-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-sm-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-sm-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-sm-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-sm-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-sm-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-sm-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-sm-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-sm-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-sm-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-sm-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-sm-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
    .slider.vh-sm-phi-lg-min .slide-flex { min-height: 62.9vh !important; }
}

@media (min-width: 768px) {
    .slider.vh-md-25 .slide-flex { height: 25vh !important; }
    .slider.vh-md-33 .slide-flex { height: 33vh !important; }
    .slider.vh-md-50 .slide-flex { height: 50vh !important; }
    .slider.vh-md-60 .slide-flex { height: 60vh !important; }
    .slider.vh-md-75 .slide-flex { height: 75vh !important; }
    .slider.vh-md-80 .slide-flex { height: 80vh !important; }
    .slider.vh-md-85 .slide-flex { height: 85vh !important; }
    .slider.vh-md-90 .slide-flex { height: 90vh !important; }
    .slider.vh-md-100 .slide-flex { height: 100vh !important; }
    .slider.vh-md-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-md-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-md-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-md-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-md-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-md-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-md-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-md-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-md-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-md-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-md-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-md-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
    .slider.vh-md-phi-lg-min .slide-flex { min-height: 62.9vh !important; }
}

@media (min-width: 992px) {
    .slider.vh-lg-25 .slide-flex { height: 25vh !important; }
    .slider.vh-lg-33 .slide-flex { height: 33vh !important; }
    .slider.vh-lg-50 .slide-flex { height: 50vh !important; }
    .slider.vh-lg-60 .slide-flex { height: 60vh !important; }
    .slider.vh-lg-75 .slide-flex { height: 75vh !important; }
    .slider.vh-lg-80 .slide-flex { height: 80vh !important; }
    .slider.vh-lg-85 .slide-flex { height: 85vh !important; }
    .slider.vh-lg-90 .slide-flex { height: 90vh !important; }
    .slider.vh-lg-100 .slide-flex { height: 100vh !important; }
    .slider.vh-lg-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-lg-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-lg-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-lg-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-lg-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-lg-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-lg-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-lg-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-lg-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-lg-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-lg-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-lg-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
    .slider.vh-lg-phi-lg-min .slide-flex { min-height: 62.9vh !important; }
}

@media only screen and (min-width: 1025px) {
    .slider.vh-dt-lg-25 .slide-flex { height: 25vh !important; }
    .slider.vh-dt-lg-33 .slide-flex { height: 33vh !important; }
    .slider.vh-dt-lg-50 .slide-flex { height: 50vh !important; }
    .slider.vh-dt-lg-60 .slide-flex { height: 60vh !important; }
    .slider.vh-dt-lg-75 .slide-flex { height: 75vh !important; }
    .slider.vh-dt-lg-80 .slide-flex { height: 80vh !important; }
    .slider.vh-dt-lg-85 .slide-flex { height: 85vh !important; }
    .slider.vh-dt-lg-90 .slide-flex { height: 90vh !important; }
    .slider.vh-dt-lg-100 .slide-flex { height: 100vh !important; }
    .slider.vh-dt-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-dt-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-dt-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-dt-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-dt-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-dt-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-dt-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-dt-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-dt-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-dt-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-dt-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-dt-phi-sm-min .slide-flex { height: 37.8vh !important; }
    .slider.vh-dt-phi-lg-min .slide-flex { height: 62.9vh !important; }
}

@media only screen and (min-width: 1160px) {
    .slider.vh-xl-lg-25 .slide-flex { height: 25vh !important; }
    .slider.vh-xl-lg-33 .slide-flex { height: 33vh !important; }
    .slider.vh-xl-lg-50 .slide-flex { height: 50vh !important; }
    .slider.vh-xl-lg-60 .slide-flex { height: 60vh !important; }
    .slider.vh-xl-lg-75 .slide-flex { height: 75vh !important; }
    .slider.vh-xl-lg-80 .slide-flex { height: 80vh !important; }
    .slider.vh-xl-lg-85 .slide-flex { height: 85vh !important; }
    .slider.vh-xl-lg-90 .slide-flex { height: 90vh !important; }
    .slider.vh-xl-lg-100 .slide-flex { height: 100vh !important; }
    .slider.vh-xl-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-xl-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-xl-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-xl-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-xl-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-xl-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-xl-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-xl-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-xl-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-xl-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-xl-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-xl-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
    .slider.vh-xl-phi-lg-min .slide-flex { min-height: 62.9vh !important; }
}

@media only screen and (max-height: 768px) {
    .slider.vh-mdy-25 .slide-flex { height: 25vh !important; }
    .slider.vh-mdy-33 .slide-flex { height: 33vh !important; }
    .slider.vh-mdy-50 .slide-flex { height: 50vh !important; }
    .slider.vh-mdy-60 .slide-flex { height: 60vh !important; }
    .slider.vh-mdy-75 .slide-flex { height: 75vh !important; }
    .slider.vh-mdy-80 .slide-flex { height: 80vh !important; }
    .slider.vh-mdy-85 .slide-flex { height: 85vh !important; }
    .slider.vh-mdy-90 .slide-flex { height: 90vh !important; }
    .slider.vh-mdy-100 .slide-flex { height: 100vh !important; }
    .slider.vh-mdy-25-min .slide-flex { min-height: 25vh !important; }
    .slider.vh-mdy-33-min .slide-flex { min-height: 33vh !important; }
    .slider.vh-mdy-50-min .slide-flex { min-height: 50vh !important; }
    .slider.vh-mdy-66-min .slide-flex { min-height: 66vh !important; }
    .slider.vh-mdy-75-min .slide-flex { min-height: 75vh !important; }
    .slider.vh-mdy-80-min .slide-flex { min-height: 80vh !important; }
    .slider.vh-mdy-85-min .slide-flex { min-height: 85vh !important; }
    .slider.vh-mdy-90-min .slide-flex { min-height: 90vh !important; }
    .slider.vh-mdy-100-min .slide-flex { min-height: 100vh !important; }

    .slider.vh-mdy-phi-sm .slide-flex { height: 37.8vh !important; }
    .slider.vh-mdy-phi-lg .slide-flex { height: 62.9vh !important; }
    .slider.vh-mdy-phi-sm-min .slide-flex { min-height: 37.8vh !important; }
    .slider.vh-mdy-phi-lg-min .slide-flex { min-height: 62.9vh !important; }
}







.cw-link-control > .block-editor-link-control {
    min-width: 260px;
    position: relative;
}
.cw-link-control .block-editor-link-control__search-item-info {
    font-size: 0.8em;
}