/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */



.magic-columns > .block-editor-inner-blocks {
    width: 100%;
}
.magic-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
    width: 100%;
    /* .row */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
    zoom: 1;
    flex-direction: column;
}
.magic-columns.magic-mobile-reverse > .block-editor-inner-blocks > .block-editor-block-list__layout {
    flex-direction: column-reverse;
}
/* match: .flex-md-row */
@media (min-width: 768px) {
    .magic-columns.magic-mobile-reverse > .block-editor-inner-blocks > .block-editor-block-list__layout,
    .magic-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-direction: row;
    }
}


