

.wp-block-cwb-grid-gallery .gallery-item > div {
    /*font-size: 0;*/
}

.wp-block-cwb-grid-gallery .gallery-item .image-wrapper {
    margin-bottom: -0.25rem!important;
}


.cwb-content-grid-item img {
    display: inline-block;
}


.wp-block-cwb-content-grid.text-center .cwb-content-grid > .row {
    justify-content: center;
}