

.video-slider .slider-nav {
    z-index: 101;
}


.progress-circle {
    transform: rotate(-90deg); /* Rotate to start progress from the top */
}

.progress-circle .progress-c-bar {
    stroke-dasharray: 283; /* 2 * Math.PI * 45 (radius) */
    stroke-dashoffset: 283; /* Initially hide progress */
    transition: stroke-dashoffset 0.5s ease;
}