/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.slide video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    object-fit: cover;
}

.wp-block-cwb-repeater-item--video-slide .slide-content {
    /*height: 100vh;*/
    height: calc(100vh + 10px);
    width: 100%;
    overflow: hidden;
}