/* Container for the video and overlay */
.video-container {
    position: relative; /* Position relative for absolute positioning of children */
    width: 100%; /* Full width */
    height: 100vh; /* Full height of viewport */
    overflow: hidden; /* Hide overflow to prevent video spill */
}

/* The video behaves like a background */
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    object-fit: cover;
}

/* Content overlay */
.video-content-overlay {
    position: relative;
    z-index: 1; /* Place content above the video */
    color: white; /* Ensure content is visible */
    text-align: center; /* Center the text horizontally */
    padding: 20px;
}