
/* Styles required to make the slider editor toggle slides */
/* - supports upto 30 slides */
/*---------------------------------------------------------------------------*/
/*.cw-tabs-container > div > div > .tab,*/
.cw-tabs-container > div > div > .tab {
    display: none;
}
.cw-tabs-container[data-show="1"]> div > div > .tab:nth-child(1) { display: block; }
.cw-tabs-container[data-show="2"]> div > div > .tab:nth-child(2) { display: block; }
.cw-tabs-container[data-show="3"]> div > div > .tab:nth-child(3) { display: block; }
.cw-tabs-container[data-show="4"]> div > div > .tab:nth-child(4) { display: block; }
.cw-tabs-container[data-show="5"]> div > div > .tab:nth-child(5) { display: block; }
.cw-tabs-container[data-show="6"]> div > div > .tab:nth-child(6) { display: block; }
.cw-tabs-container[data-show="7"]> div > div > .tab:nth-child(7) { display: block; }
.cw-tabs-container[data-show="8"]> div > div > .tab:nth-child(8) { display: block; }
.cw-tabs-container[data-show="9"]> div > div > .tab:nth-child(9) { display: block; }
.cw-tabs-container[data-show="10"]> div > div > .tab:nth-child(10) { display: block; }
.cw-tabs-container[data-show="11"]> div > div > .tab:nth-child(11) { display: block; }
.cw-tabs-container[data-show="12"]> div > div > .tab:nth-child(12) { display: block; }
.cw-tabs-container[data-show="13"]> div > div > .tab:nth-child(13) { display: block; }
.cw-tabs-container[data-show="14"]> div > div > .tab:nth-child(14) { display: block; }
.cw-tabs-container[data-show="15"]> div > div > .tab:nth-child(15) { display: block; }
.cw-tabs-container[data-show="16"]> div > div > .tab:nth-child(16) { display: block; }
.cw-tabs-container[data-show="17"]> div > div > .tab:nth-child(17) { display: block; }
.cw-tabs-container[data-show="18"]> div > div > .tab:nth-child(18) { display: block; }
.cw-tabs-container[data-show="19"]> div > div > .tab:nth-child(19) { display: block; }
.cw-tabs-container[data-show="20"]> div > div > .tab:nth-child(20) { display: block; }
.cw-tabs-container[data-show="21"]> div > div > .tab:nth-child(21) { display: block; }
.cw-tabs-container[data-show="22"]> div > div > .tab:nth-child(22) { display: block; }
.cw-tabs-container[data-show="23"]> div > div > .tab:nth-child(23) { display: block; }
.cw-tabs-container[data-show="24"]> div > div > .tab:nth-child(24) { display: block; }
.cw-tabs-container[data-show="25"]> div > div > .tab:nth-child(25) { display: block; }
.cw-tabs-container[data-show="26"]> div > div > .tab:nth-child(26) { display: block; }
.cw-tabs-container[data-show="27"]> div > div > .tab:nth-child(27) { display: block; }
.cw-tabs-container[data-show="28"]> div > div > .tab:nth-child(28) { display: block; }
.cw-tabs-container[data-show="29"]> div > div > .tab:nth-child(29) { display: block; }
.cw-tabs-container[data-show="30"]> div > div > .tab:nth-child(30) { display: block; }

