/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-cwb-tabs > .block-editor-inner-blocks {
    width: 100%;
}



/*.nav-tabs a.nav-link,*/
/*.nav-tabs .nav-link {*/
/*    border: 1px solid transparent;*/
/*    border-top-left-radius: 0.25rem;*/
/*    border-top-right-radius: 0.25rem;*/
/*    background: var(--color-primary);*/
/*    color: white;*/
/*}*/
/*.nav-tabs .nav-link.active {*/
/*    color: var(--color-primary-d1);*/
/*}*/
/*.nav-tabs {*/
/*    z-index: 2;*/
/*}*/
/*.tab-content {*/
/*    border: 1px solid #ddd;*/
/*    margin-top: -1px;*/
/*    z-index: 1;*/
/*    !*border-top-color: transparent;*!*/
/*}*/