/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-cwb-repeater > .block-editor-inner-blocks {
    width: 100%;
}
.wp-block-cwb-repeater > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.justify-content-start > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}


@media (min-width: 576px) {
    .justify-content-sm-start > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .justify-content-sm-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
    .justify-content-sm-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .justify-content-sm-between > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .justify-content-sm-around > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
}


@media (min-width: 768px) {
    .justify-content-md-start > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .justify-content-md-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
    .justify-content-md-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .justify-content-md-between > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .justify-content-md-around > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
}


@media (min-width: 992px) {
    .justify-content-lg-start > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .justify-content-lg-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
    .justify-content-lg-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .justify-content-lg-between > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .justify-content-lg-around > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
}


@media (min-width: 1200px) {

    .justify-content-xl-start > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .justify-content-xl-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
    .justify-content-xl-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .justify-content-xl-between > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .justify-content-xl-around > .block-editor-inner-blocks > .block-editor-block-list__layout {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
}