/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.quiz-question {

}
.quiz-question.correct {
    border: 1px solid green;
}
.quiz-question.wrong {
    border: 1px solid red;
}