/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

/* todo:: creat admin specific style sheet for block-editor styles */
.components-panel__body .components-color-picker__body {
	padding: 16px 0 12px;
}
.cwb-editor-outline {
	border: 1px dashed rgba(255,255,255,0.6);
}


/*.wp-block-gutenberg-examples-example-05-recipe-card .recipe-image {*/
/*	background: #f1f1f1;*/
/*	float: right;*/
/*	width: 50%;*/
/*	min-height: 100px;*/
/*	text-align: center;*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card .recipe-image button {*/
/*	margin-top: 30px;*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card .recipe-image button.image-button {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	display: block;*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card .recipe-image img {*/
/*	display: block;*/
/*	z-index: 1;*/
/*	position: relative;*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card h2 {*/
/*	font-size: 1.5em;*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card ul {*/
/*	padding-left: 2.5em !important; !* Needs fix in Gutenberg. *!*/
/*}*/

/*.wp-block-gutenberg-examples-example-05-recipe-card:after { */
/*	content:""; */
/*	clear:both; */
/*	display: table; */
/*}*/


